<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PBP.TwitterHud.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <applicationSettings>
    <PBP.TwitterHud.Web.Properties.Settings>
      <setting name="consumerKey" serializeAs="String">
        <value>lSFl1JY46x9JwhBguoglDw</value>
      </setting>
      <setting name="consumerSecret" serializeAs="String">
        <value>aUwEpnnY2pl7hGDyfiZ0ge8zqupNhYKq5VgTqcvWsc</value>
      </setting>
      <setting name="users" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>pay_by_phone</string>
            <string>PayByPhone</string>
            <string>PayByPhone_UK</string>
          </ArrayOfString>
        </value>
      </setting>
    </PBP.TwitterHud.Web.Properties.Settings>
  </applicationSettings>
</configuration>
