@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>PayByPhone Twitter Dashboard</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/AngularJS/app.js"></script>
        <script src="~/Scripts/AngularJS/Dashboard/pbp-tweets-controller.js"></script>
    </head>
    <body>
        <div ng-controller="PBPTweetsController">
              
        </div>
    </body>
</html>