<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBP.Twitter.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PBP.Twitter.Tests.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value>cIDVSTXNw5gCj82tJfQ7w</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>tA4DKBEFonNXSyqUkqzQ4QVY8myRS5pVMsEVLQHpg</value>
            </setting>
        </PBP.Twitter.Tests.Properties.Settings>
    </userSettings>
</configuration>